<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img th:src="${session.avatar}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p th:text="${session.name}"></p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
<!--        <form action="#" method="get" class="sidebar-form">-->
<!--            <div class="input-group">-->
<!--                <input type="text" name="q" class="form-control" placeholder="Search...">-->
<!--                <span class="input-group-btn">-->
<!--                    <input type="text" name="q" class="form-control" placeholder="not implemented yet...">-->
<!--                    <span class="input-group-btn"> That was embarassing...-->
<!--                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">-->
<!--                            <i class="fa fa-search"></i>-->
<!--                        </button>-->
<!--                    </span>-->
<!--                </span>-->
<!--            </div>-->
<!--        </form>-->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>

            <li th:if="${session.dashboard}" id="dashboard-menu" class="treeview">
                <a href="/dashboard">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li th:if="${session.scheduler}" id="scheduler-menu">
                <a href="${pageContext.request.contextPath}/pages/scheduler.jsp">
                    <i class="fa fa-clock-o"></i>
                    <span>Scheduler</span>
                </a>
            </li>

            <li th:if="${session.tables}" id="table-menu" class="treeview">
                <a href="/">
                    <i class="fa fa-table"></i>
                    <span>Tables</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li id="table-menu-fc">
                        <a href="/tables/foodClass">
                            <i class="fa fa-apple"></i>
                            Food Categories
                        </a>
                    </li>
                    <li id="table-menu-item">
                        <a href="/tables/items">
                            <i class="fa fa-cube"></i>
                            Items
                        </a>
                    </li>
                    <li id="table-menu-order">
                        <a href="/tables/takeaway">
                            <i class="fa fa-archive"></i>
                            Takeaway Orders
                        </a>
                    </li>
                    <li id="table-menu-reservation">
                        <a href="/tables/reservations">
                            <i class="fa fa-book"></i>
                            Reservations
                        </a>
                    </li>
                    <li id="table-menu-table">
                        <a href="/tables/restaurant">
                            <i class="fa fa-cutlery"></i>
                            Restaurant Tables
                        </a>
                    </li>
                    <li id="table-menu-user">
                        <a href="/tables/users">
                            <i class="fa fa-user"></i>
                            Users
                        </a>
                    </li>
                </ul>
            </li>

            <th:block th:if="${session.customer}">
                <li id="reservation-menu">
                    <a href="/dashboard/tableReservation">
                        <i class="fa fa-cutlery"></i>
                        <span class="sidebar-title">Table Reservation</span>
                    </a>
                </li>
                <li id="ta-order-menu">
                    <a href="/dashboard/takeawayOrder">
                        <i class="fa fa-paper-plane-o"></i>
                        <span class="sidebar-title">Take-Away Order</span>
                    </a>
                </li>
            </th:block>

            <li class="header">HELP</li>
            <li>
                <a href="/dashboard/documentation">
                    <i class="fa fa-book"></i>
                    <span class="sidebar-title">Documentation</span>
                </a>
            </li>
        </ul>
    </section>
</aside>