
label {
    display: block;
    padding-left: 15px;
    text-indent: 20px;
}

input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
}

.thumbnail {
    width: 70px;
}

ul.thumbnails.image_picker_selector li .thumbnail {
    padding: 2px !important;
    border: 1px solid #ddd;
}

.last {
    margin-right: 0 !important;
}
