<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WPB | Takeaway Order</title>

    <link rel="icon" th:href="@{/img/favicon.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/home/reservation.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/home/login.css}" rel="stylesheet" type="text/css">

    <link th:href="@{/css/main/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/AdminLTE.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

    <link th:href="@{/css/datetimepicker.min.css}" rel="stylesheet" type="text/css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body class="hold-transition login-page">

<div class="login-box">
    <div class="login-logo">
        <a href="/homepage"><b>Werner's</b>Panini&amp;Burgers</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to your personal account</p>
        <div th:if="${ERROR_MESSAGE != null}">
            <div class="alert alert-danger text-center" id="message-div">
                <span th:text="${ERROR_MESSAGE}"></span>
            </div>
        </div>
        <form action="/login" method="post" data-toggle="validator">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="email" required placeholder="Email"> <span
                    class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" name="password" required placeholder="Password"> <span
                    class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" /> Remember me
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
            </div>
        </form>

        <a href="/recover-password">I forgot my password</a><br>
        <a href="/register" class="text-center">Create a New Account</a><br>
        <a class="pull-right" href="/homepage"><i class="fa fa-home"></i>&ensp;Back home</a><br>

    </div>
</div>

</body>

<script th:src="@{/js/jQuery/jquery-2.2.3.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/moment/moment.min.js}"></script>
<script th:src="@{/js/validator.min.js}"></script>
<script th:src="@{/js/datetimepicker.min.js}"></script>
<script th:src="@{/js/fastclick.js}"></script>

<script th:src="@{/js/validator.min.js}"></script>
<script th:src="@{/js/bootstrapTable/bootstrap-table.min.js}"></script>
<script th:src="@{/js/bootstrapTable/locale/bootstrap-table-en-US.min.js}"></script>
<script th:src="@{/js/bootstrapTable/extensions/resizable/bootstrap-table-resizable.min.js}"></script>
<script th:src="@{/js/bootstrapTable/extensions/colResizable/colResizable-1.6.min.js}"></script>
<script th:src="@{/js/bootstrapTable/extensions/filter-control/bootstrap-table-filter-control.min.js}"></script>

<script th:src="@{/js/tables/tableutil.js}"></script>
<script th:src="@{/js/takeaway/takeawayOrderUtil.js}"></script>

<script>

</script>

</html>
