<hibernate-configuration>
    <session-factory>

        <property name="hibernate.jdbc.use_get_generated_keys" value="true" />
        <property name="hibernate.temp.use_jdbc_metadata_defaults" value="false" />
        <property name="spring.jpa.database-platform" value="org.hibernate.dialect.PostgreSQL82Dialect" />
    </session-factory>
</hibernate-configuration>