<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- create form -->

<form id="create-form" data-toggle="validator">
    <div class="form-group">
        <label for="id">Item ID</label> <input type="text"
                                               class="form-control" placeholder="auto-assigned" readonly>
    </div>
    <div class="form-group">
        <label for="name">Name</label> <input type="text" class="form-control" name="name" placeholder="Item name"
                                              th:value="${session.itm.getName()}" required>
    </div>
    <div class="form-group">
        <label for="foodClass">Food Class</label> <select class="form-control" name="foodClass" required>
        <th:block th:each="entry : ${session.fc}">
            <th:block th:if="${entry.getName() == session.itm.getFoodClass()}">
                <option th:value="${entry.getId()}" th:text="${entry.getName()}" selected></option>
            </th:block>
            <th:block th:if="${entry.getName() != session.itm.getFoodClass()}">
                <option th:value="${entry.getId()}" th:text="${entry.getName()}"></option>
            </th:block>
        </th:block>

    </select>
    </div>
    <div class="form-group">
        <label for="price">Price</label> <input type="number" class="form-control" name="price" placeholder="Insert Price"
                                                th:value="${session.itm.getPrice()}" min="0" max="99.9" step="0.01" required>
    </div>
    <div class="checkbox form-group">
        <!--        <label><input type="checkbox" value="true" name="available"-->
        <!--            <c:if test="${itm.available == true}">checked="checked"</c:if>>Available</label>-->

    </div>
    <input type="hidden" id="action" name="action" value="create">
    <input type="hidden" name="id" value="0">
    <input type="hidden" name="version-number" value="${itm.versionNumber}">
</form>

<!-- Edit form -->

<form id="edit-form" data-toggle="validator">
    <div class="form-group">
        <label for="id">Item ID</label> <input type="text"
                                               class="form-control" name="id" th:value="${session.itm.getId()}"
                                               placeholder="auto-assigned" readonly>
    </div>
    <div class="form-group">
        <label for="name">Name</label> <input type="text" class="form-control"
                                              name="name" placeholder="Item name" th:value="${session.itm.getName()}" required>
    </div>
    <div class="form-group">
        <label for="foodClass">Food Class</label> <select class="form-control"
                                                          name="foodClass" required>

        <th:block th:each="entry : ${session.fc}">
            <th:block th:if="${entry.getName() == session.itm.getFoodClass()}">
                <option th:value="${entry.getId()}" th:text="${entry.getName()}" selected></option>
            </th:block>
            <th:block th:if="${entry.getName() != session.itm.getFoodClass()}">
                <option th:value="${entry.getId()}" th:text="${entry.getName()}"></option>
            </th:block>
        </th:block>
    </select>
    </div>
    <div class="form-group">
        <label for="price">Price</label> <input type="number"
                                                class="form-control" name="price" placeholder="Insert Price"
                                                th:value="${session.itm.getPrice()}" min="0" max="99.9" step="0.01" required>
    </div>
    <div class="checkbox form-group">
        <!--        <label><input type="checkbox" value="true" name="available"-->
        <!--            <c:if test="${itm.available == true}">checked="checked"</c:if>>Available</label>-->
    </div>
    <input type="hidden" id="action" name="action" value="edit">
    <input type="hidden" name="version-number" value="${itm.versionNumber}">
</form>
</html>
